.navbar {
    background-color: #1d70b8;
    min-height: 6rem;
    margin-bottom: 2rem;
}

.themeBtn {
    background-color: #1d70b8 !important;
    color:white;
}

.themeBtn:hover {
    background-color: white !important;
    color: #1d70b8;
}

.themeButtonInvert {
    background-color: white !important;
    color: #1d70b8;
    border-color: #b1b4b6;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.webTitle {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}